---
# Frontmatter comment
---


.banner {
  width: 100%;
}


.teaserinfo {
  border: 1px solid rgba(0,0,0,0.15);
   padding: 1.5rem;
   
   h6 {
     margin-top: 0px;
     font-size: 165%;
     letter-spacing: -1px;
     text-align: center;
   }
}
