---
# Frontmatter comment
---



.banner {
  width: 100%;
}


.teaser {
   h6 {
     background-color: #000;
     margin-top: 0;
     padding: 4px;
     padding-left: 10px;
     color: white;
     font-weight: bold;
   }

}
